.navbar {
  width: 273px;
  background-color: #3a5866;
  border-radius: var(--general-border-radios);
}

.navbar > ul {
  width: 100%;
}

.navbar > ul > li {
  list-style-type: none;
}

.navbar > ul > li > a {
  text-align: center;
  display: block;
  text-decoration: none;
  color: black;
  font-size: 26px;
  background: linear-gradient(gray, #3a5866);
  transition-duration: 1s;
}

.navbar > ul > li > a:hover {
  color: blue;
  transition-duration: 1s;
}

.navbar ul ul {
  font-size: 13px;
}

.navbar ul ul li a {
  display: block;
  text-decoration: none;
  color: black;
  transition-duration: 1s;
  border-radius: 5px 0 0 5px;
  padding-left: 5px;
}

.navbar ul ul li a:hover {
  background-color: maroon;
  transition-duration: 1s;
}
